*.pdb
*.ilk
*.obj
*.exe
*.dll
*.pro.user.*

/testclient/*.user
/nshared/nshared.pro.user
/nlogsvc/nlogsvc.pro.user

/build-nlogsvc-Desktop_Qt_5_9_1_MSVC2015_64bit-Debug/
/build-nshared-Desktop_Qt_5_9_1_MSVC2015_64bit-Debug/
/build-nlogsvc-Desktop_Qt_5_9_1_MSVC2015_64bit-Release/
/build-nshared-Desktop_Qt_5_9_1_MSVC2015_64bit-Release/


/build-testclient-Desktop_Qt_5_9_1_MSVC2015_64bit-Debug/debug/
/build-testclient-Desktop_Qt_5_9_1_MSVC2015_64bit-Debug/
/build-testclient-Desktop_Qt_5_9_1_MSVC2015_64bit-Release/release/
/build-testclient-Desktop_Qt_5_9_1_MSVC2015_64bit-Release/
